.Color-my-name {
    color: rgb(235, 98, 7);
}

.HeaderImage {
    background-image: url(bg1.jpg);

}

.HireME {
    border-radius: 10px;
    text-decoration: none;
    font-weight: 700;
    background-image: linear-gradient(rgb(238, 172, 172), rgb(243, 122, 22));
    padding: 10px 10px;

}

.bg1 {
    background-image: linear-gradient(#BC70A4, #BFD641);
    border-radius: 5%;
}

h1 {
    font-size: 45px;
}

#area2 {
    background-image: linear-gradient(#BC70A4, #BFD641);
}

.Display {
    display: flex;
    margin: 15px 20px 15px 20px;
    padding: 15px 20px 15px 20px;
}

.half-width {
    width: 50%;
    padding: 10px;
}




< !-- .bg2 {
    background-image: url(Images/Red-Circle.png);
    background-repeat: no-repeat;
    background-position: left;

}

-->.experience {
    width: 40%;
    margin-left: 10px;
    margin: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px rgb(68, 67, 68);
}

#igManager {
    border-image: linear-gradient(orange, tomato) 30;
    border-image-slice: 1;
    border-left: 10px solid;
}

#Pinmanager {
    border-image: linear-gradient(rgb(0, 195, 255), tomato) 30;
    border-image-slice: 1;
    border-left: 10px solid;
}

footer p {
    text-align: center;
}